body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 40px;
  color: white;
  background: #A6C1EE;
}

.column-full {
  min-height: 100vh !important;
}

.column-linefull {
  line-height: 100vh !important;
}

.setcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Sign Up */
.card {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px !important;
  text-align: left;
  padding-left: 40px !important;
  background: none;
  height: 400px;
  width: auto;
  border-left: 1px solid white;
  box-shadow: none;
}

.btnmargin {
  margin: 45px 0px 30px;
}

button {
  background-color: Transparent !important;
  border: 1px solid !important;
  box-shadow: none !important;
  width: 100%;
  height: 50px !important;
  font-size: 20px !important;
  font-family: 'Julius Sans One', sans-serif !important;
}

/* Sign Up Form*/
label {
  color: white !important;
}

.input-field input {
  border-bottom: 0px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
}

@media only screen and (max-width: 1200px) {
  .cardtext {
    font-size: 40px !important;
  }
}

@media only screen and (max-width: 800px) {
  .cardtext {
    font-size: 35px !important;
  }
  .cardtext2 {
    font-size: 35px !important;
  }
  .card {
    padding-left: 20px !important;
  }
}

@media only screen and (max-width: 700px) {
  .cardtext {
    font-size: 35px !important;
  }
  .cardtext2 {
    font-size: 32px !important;
  }
  .card {
    padding-left: 20px !important;
  }
}

@media only screen and (max-width: 600px) {
  .cardtext {
    font-size: 50px !important;
  }
  .cardtext2 {
    font-size: 40px !important;
  }
  .card {
    padding-left: 20px !important;
  }
}