body {
    margin-bottom: 80px;
    font-family: 'Josefin Sans', sans-serif;
    color: #555555;
}

li a {
    font-family: '微軟正黑體';
}

.bg-gradient {
    background-color: #A6C1EE;
}

.bg-gradient-level {
    background-color: #A6C1EE;
}

#myNavBar li a {
    color: white;
    font-size: 20px;
}

#myNavBar ul li a {
    color: #555555;
    text-align: center;
    font-size: 20px;
}

#myNavBar li {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.text-brown {
    color: #555555 !important;
}