body {
    margin-bottom: 80px;
    font-family: 'Josefin Sans', sans-serif;
    color: #555555;
}

.nav-wrapper {
    font-family: 'Josefin Sans', sans-serif;
}

li a {
    font-family: '微軟正黑體';
}

.bg-gradient {
    /* background: linear-gradient(270deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -moz-linear-gradient(270deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -webkit-linear-gradient(270deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -o-linear-gradient(270deg, #B6BFF1 35%, #FFAAD5 100%); */
    background-color: #A6C1EE;
}

.bg-gradient-level {
    /* background: linear-gradient(0deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -moz-linear-gradient(0deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -webkit-linear-gradient(0deg, #B6BFF1 35%, #FFAAD5 100%);
    background: -o-linear-gradient(0deg, #B6BFF1 35%, #FFAAD5 100%); */
    background-color: #A6C1EE;
}

.room-select-bg {
    background-color: #E9EDF5;
}

#myNavBar li a {
    color: white;
    font-size: 20px;
}

#myNavBar li {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.text-brown {
    color: #555555 !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #46BD89 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: white !important;
}

.switch label .lever {
    background-color: #BD4646 !important;
}

.switch label input[type=checkbox][disabled]+.lever:after,
.switch label input[type=checkbox][disabled]:checked+.lever:after {
    background-color: #FFFFFF !important;
}

label {
    display: block;
    color: #555555 !important;
    font-size: 14px !important;
    margin-bottom: 5px;
}

.card-content {
    padding: 10px !important;
}

.col.btn {
    background-color: transparent;
    color: #555555;
}

.text-bold {
    font-weight: bold !important;
}

.justify-content-between {
    display: flex !important;
    justify-content: space-between !important;
}

.circle-green {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #67FF43;
}

.circle-orange {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFA843;
}

.light-text {
    font-size: 15px;
    vertical-align: text-bottom;
}