body {
    font-family: '微軟正黑體';
}

.nav-wrapper {
    font-family: 'Josefin Sans', sans-serif;
}

li a {
    font-family: '微軟正黑體';
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.btn-text-blue {
    color: #2196F3;
}

.btn-text-red {
    color: #CC0000;
}

.btn-border {
    border: 0.5px solid #d1d1d1;
}

.form-head-shadow {
    box-shadow: -2px -1px 3px #d1d1d1;
    -webkit-box-shadow: -2px -1px 3px #d1d1d1;
    -moz-box-shadow: -2px -1px 3px #d1d1d1;
    border-radius: 3px;
}

tr th:first-child, tr td:first-child{
    padding-left: 15px;
}

.status-text-black {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: black;
    /* font-weight: bold; */
    color: #000000;
}

.status-text-green {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: #1BB426;
    /* font-weight: bold; */
    color: #1BB426;
}

.btn-width {
    width: 80px;
}

td > .row {
    margin-bottom: 0 !important;
}
td .row > .input-field {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.titlepadding {
    padding: 20px 0px;
}